/* reseteamos los valores por defecto que tienen los elementos */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
/* creamos nuestras variables de color o paleta de colores a utilizar */
:root{
  --colorPrimario: rgb(71, 181, 245);
  --colorsecundario: rgb(165, 165, 240);

}
  
#contenedorHeader{
 background: linear-gradient(to bottom, rgb(6, 228, 236), rgb(253, 251, 251));
  display: flex;
  justify-content: space-around;
  box-shadow: blue 10px, 10px, 10px;
}

#contenedorTexto{
  font-size: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
}

/* aca estamos trabajando con el contenedor del nav */
#contenedorNav{
  padding-top: 20px;
  display: flex;
  font-size:25px;
}

a{
  text-decoration: none;
  color: blue;
  justify-content: space-between  ;
}

a:hover{
  color: var(--colorsecundario);
}


#hero{
  display: flex;
  height: 100vh;
  flex-direction:row;
  align-items: top;
  justify-content: center;
  font-family: 'Indie Flower', cursive;
  padding-top: 80px;
  background-image:url(imagenes/viaje2.png);
  background-size: 100vw 100vh;
}



h3{
  font-weight: bold;
  font-size: 250%;
  color: rgba(0, 0, 255, 0.548);
  text-decoration: border black;
  }
h4{
  font-size: 150%;
}
h5{
  padding-top: 50px;
  font-size: 200%;
  margin-bottom: 50px;
}

.medallas-productos{
  background-image: url(imagenes/fondoFranjaAzul.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
}
.contenedor{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 8px 12px blue;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  }
  
  .contenedor:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
  }

.texto{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.img{
  width: 300px;
  justify-content: space-around;
}


p{
  border-style: blue;
}
#contacto{
  height: 600px;
  background-image: url(imagenes/negocios.png);
  background-repeat: no-repeat;
  background-size:100vw 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frm{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 30px;  
  border-radius: 15px;
  box-shadow: 10px 10px 10px;
  box-sizing: border-box;
  background-color: var(--colorsecundario);
  opacity: 60%;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#frm input, select{
  border-radius: 6px;
  text-align: center;
}

footer{
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content:space-around;
  align-items: center;
  background: linear-gradient(to top, rgb(6, 228, 236), rgb(253, 251, 251));
  font-size: 20px;
  }
  
footer div{
  display: flex;
  flex-direction: row;
  }