/* reseteamos los valores por defecto que tienen los elementos */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
/* creamos nuestras variables de color o paleta de colores a utilizar */
:root{
  --colorPrimario: rgb(71, 181, 245);
  --colorsecundario: rgb(165, 165, 240);

}
  
#contenedorHeader{
 background-image: linear-gradient(to bottom, rgb(6, 228, 236), rgb(253, 251, 251));
  display: flex;
  justify-content: space-around;
  box-shadow: blue 10px, 10px, 10px;
}
#contenedorTexto{
  justify-content: center;
  font-size: smaller;
}

/* aca estamos trabajando con el contenedor del nav */
#contenedorNav{
display: flex;}
a{
  text-decoration: none;
  color: blue;
  justify-content: space-between  ;
}
a:hover{
  color: var(--colorsecundario);
}

body{
  background-color:
}

#hero{
  display: flex;
  height: 80vh;
  flex-direction:row;
  align-items: top;
  justify-content: center;
  font-family: 'Indie Flower', cursive;
  padding-top: 80px;
  background-image:url(imagenes/viaje2.png);
  background-size: 100vw 100vh;
}

#contenedorTexto{
  font-size: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
}

h3{
  font-weight: bold;
  font-size: 200%;
  }
h5{
  font-size: 200%;
  margin-bottom: 50px;
}

#medallas-productos{
  /* height: 350px; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
}

#descripcion-medallas{
  display: flex;
}

#bronce{
  flex-direction: row;
  display: flex;
  justify-content:space-around;
  align-items: center;
  text-align: justify;
  width: 300px;
  height: 200px;
  background-image: url(imagenes/medallaBronce.png);
  background-size: cover;
}

#silver{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  text-align: justify;
  width: 300px;
  height: 200px;
  background-image: url(imagenes/medallaPlata.png);
  background-size: cover;
}


#gold{
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center; */
  text-align: justify;
  width: 300px;
  height: 200px;
  background-image: url(imagenes/medallaOro.png);
  background-size: cover;
}

#contacto{
  height: 600px;
  background-image: url(imagenes/negocios.jpg);
  box-shadow: 5px 8px 12px red;
  background-repeat: no-repeat;
  background-size:100vw 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frm{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  box-shadow: 10px 10px 10px;
  box-sizing: border-box;
  background-color: var(--colorsecundario);
  opacity: 80%;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#frm input, select{
  border-radius: 6px;
  text-align: center;
}

footer{
  height: 20vh;
  background-color: var(--colorPrimario)
}